@media screen and (max-width: 1207px min-width:877px ) {
  .main-box{
    flex-direction: column;
  }
  .github-con img{
    height: 20vh;
  }
  .insta-con img{
    height: 40vh;
  }
  .linked-con img{
    height: 20vh;
  }
  
  }
  