@media screen and (max-width: 877px) {
  .profile {
    left: 80vw;
  }
  .navbar a {
    position: absolute;
  }
  .sp1 {
    top: 25vh;
  }
  .contact {
    left: 20vw;
  }
  .home {
    position: absolute;
    left: 0vw;
  }
  .skills, .skill1, .skill2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .js-text h2{
    text-align: center;
  }
  .js-text p{
    text-align: center;
  }
  .sp1, .sp2{
    height: 200px;
    opacity: 30%;
  }
  @keyframes circle {
    0%,100%{
        translate: 0vw 0;
    }
    50%{
        translate: 85vw 0;
    }
}
.footer-link{
  flex-direction: column; 
}
.end{
  height: 300px;
}
.circle, .circle1, .circle2{
  margin: 150px 0;
}
.end a{
  position: relative;
  left: 40px;
}
.main-box{
  flex-direction: column;
}
.github-con img{
  height: 20vh;
}
.insta-con img{
  height: 40vh;
}
.linked-con img{
  height: 20vh;
}

}
