@media screen and (max-width: 877px)    {
    .profile{
        left: 80vw;
    }
    .navbar a{
        position: absolute;
    }
    .sp1{
        top: 25vh;
    }
    .contact{
        left: 20vw;
    }
    .home{
        position: absolute;
        left: 0vw;
    }
}