@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  border: 1px solid black;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 5;
}
.profile{
    height: 60px;
    border-radius: 100%;
    position: relative;
    left: 50vw;
    top:5px;
}
.navbar ul {
    /* position: relative;
    left: 1300px; */
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
body {
  background-color: rgb(12, 12, 12);
}
.length {
  height: 300vh;
}
.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}
.name {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-size:12vw;
  font-weight: 900;
  background-image: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #0099ff,
    #001aff,
    #ff0000,
    #ff0055,
    #ff0000,
    #0099ff,
    #001aff,
    #a200ff
    );
    background-size: 500%;
    animation: border 12s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 70px;
}
.box {
    position: relative;
    color: #fff;
    background:  rgb(12, 12, 12);
    font: 700 2rem "Montserrat";
    text-align: center;
    text-transform: uppercase;
  }
.box::before,
.box::after {
  content: "";
  z-index: -1;
  border-radius: 8px;
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: -15px;
  left: -15px;
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #0099ff,
    #001aff,
    #ff0000,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 300%;
  animation: border 12s linear infinite;
}
.box::after{
    filter: blur(60px);
}

@keyframes border {
    0%, 100%{
        background-position: 0 0;
    }
    50%{
        background-position: 300%; 
    }
}
.sp1{
    position: absolute;
    height: 17vw;
    z-index: -2;
    right: 0px;
    top: 10px;
    opacity: 10%;
}
.sp2{
    position: absolute;
    height: 17vw;
    z-index: -2;
    left: 0px;
    top: 600px;
    opacity: 10%;
}

hr{
    margin: 5vh auto;
    border-style: dotted none none none;
    height: 0;
    border-width: 10px;
    width: 10%;
    color: rgba(255, 255, 255, 0.158);
}

.profile2{
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
}

.prot{
    margin-top: 100px;
}

.name-etc h1{
    font-family: "poppins";
    color: white;
    font-size: 5rem;
    text-align: center;
}
.name-etc p{
    color: white;
    font-family: poppins;
    font-size: 1.2rem;
    text-align: center;
}
.skills{
    width: 60%;
    margin: 150px auto;
}
.c-image{
    height: 200px;
    position: relative;
    float: left;
    margin-right: 30px;
}
.skills h1{
    font-family: "poppins";
    color: white;
    font-size: 5rem;
    text-align: center;
}
.skills h2{
    margin: 100px 0 20px 0px;
    font-family: "poppins";
    color: rgba(255, 255, 255, 0.438);
    font-size: 2.5rem;
    text-align: left;
}
.skills p{
    color: white;
    font-family: poppins;
    font-size: 1.2rem;
    text-align: left;
}
.js-text h2{
    margin: 100px 0 20px 0px;
    font-family: "poppins";
    color: rgba(255, 255, 255, 0.438);
    font-size: 2.5rem;
    text-align: left;
}
.js-text p{
    color: white;
    font-family: poppins;
    font-size: 1.2rem;
    text-align: left;
}
.html-pic{
    height: 200px;
    position: relative;
    float: right;
}
.skill2{
    margin-top: 150px;
}
.js-img{
    float: left;
    height: 200px;
    position: relative;
    /* right:20vw; */
}
.js-text{
    position: relative;
    /* right: 100px; */
    /* width: 50vw; */
}
.js{
    margin-top: 150px;
    position: relative;
    right: 5vw;
}
.adjust{
    margin-top: 150px;
}
.glitch {
    width: 300px;
    height: 300px;
    background: url('WhatsApp Image 2023-01-04 at 02.47.07.jpg');
    background-size: cover;
    animation: glitch 3.5s infinite steps(1);
}

@keyframes glitch {
    0%, 100% {
        background: url('WhatsApp Image 2023-01-04 at 02.47.07.jpg');
        background-size: cover;      
    }

    92.5% {
        background: url('/glitch-image-1672828595.png');
        background-size: cover; 
        opacity: 1;     
    }

    95% {
        background: url('/glitch-image-1672828598.png');
        background-size: cover;
        opacity: 0;
    }

    97.5% {
        background: url('/glitch-image-1672828601.png');
        background-size: cover;   
        opacity: 1;        
    }
}
.end{
    height: 100px;
}
.footer-link {
    list-style: none;
    margin: 0 auto;
}
.linkt{
    text-decoration: none;
    font-family: poppins;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    margin: 0 80px 0 0;
}
.footer-link img{
    height: 40px;
    margin: 10px;
}
.circle{
    margin: 0px 0;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(58, 58, 58);
    border-radius: 100%;
    animation: circle 2s ease-in-out infinite;
    margin: 30px 0;
}
.circle1{
    margin: 0px 0;
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: rgb(58, 58, 58);
    border-radius: 100%;
    animation: circle 2s ease-in-out 0.1s infinite;
    margin: 30px 0;
}
.circle2{
    margin: 0px 0;
    position: absolute;
    height: 50px;
    width: 50px;
    margin: 30px 0;
    background-color: rgb(58, 58, 58);
    border-radius: 100%;
    animation: circle 2s ease-in-out 0.2s infinite;
}
@keyframes circle {
    0%,100%{
        translate: 0vw 0;
    }
    50%{
        translate: 96vw 0;
    }
}