@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  border: 1px solid black;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 5;
}
.profile{
    height: 60px;
    border-radius: 100%;
    position: relative;
    left: 50vw;
    top:5px;
}
.navbar ul {
    /* position: relative;
    left: 1300px; */
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}
body {
  background-color: rgb(12, 12, 12);
}
.length {
  height: 300vh;
}
.middle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
}
.name {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  font-size: 10rem;
  font-weight: 900;
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #0099ff,
    #001aff,
    #ff0000,
    #ff0055,
    #ff0000,
    #0099ff,
    #001aff,
    #a200ff
    );
    background-position: 300%;
    animation: border 12s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px 70px;
}
.box {
    position: relative;
    color: #fff;
    background:  rgb(12, 12, 12);
    font: 700 2rem "Montserrat";
    text-align: center;
    text-transform: uppercase;
  }
.box::before,
.box::after {
  content: "";
  z-index: -1;
  border-radius: 8px;
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: -15px;
  left: -15px;
  background: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #0099ff,
    #001aff,
    #ff0000,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  background-size: 300%;
  animation: border 12s linear infinite;
}
.box::after{
    filter: blur(60px);
}

@keyframes border {
    0%, 100%{
        background-position: 0 0;
    }
    50%{
        background-position: 300%; 
    }
}
.sp1{
    position: absolute;
    height: 300px;
    z-index: -2;
    right: 0px;
    top: 10px;
    opacity: 10%;
}
.sp2{
    position: absolute;
    height: 300px;
    z-index: -2;
    left: 0px;
    top: 600px;
    opacity: 10%;
}

hr{
    margin: 50px auto;
    border-style: dotted none none none;
    height: 0;
    border-width: 10px;
    width: 10%;
    color: rgba(255, 255, 255, 0.158);
}

.profile2{
    height: 300px;
    margin: 0 auto;
    border-radius: 100%;
}

.prot{
    margin-top: 100px;
}

.name-etc h1{
    margin: 0 0 0 45%;
    font-family: "poppins";
    color: white;
    font-size: 5rem;
    text-align: left;
}
.name-etc p{
    position: ;
    color: white;
    margin: 0 0 0 35%;
    font-family: poppins;
    font-size: 1.2rem;
    text-align: left;
}
.skills{
    width: 50%;
    margin: 150px auto;
}
.c-image{
    height: 200px;
    position: relative;
    float: left;
    margin-right: 30px;
}
.skills h1{
    margin: 0 0 0 40%;
    font-family: "poppins";
    color: white;
    font-size: 5rem;
    text-align: left;
}
.skills h2{
    margin: 100px 0 20px 0px;
    font-family: "poppins";
    color: rgba(255, 255, 255, 0.438);
    font-size: 2.5rem;
    text-align: left;
}
.skills p{
    color: white;
    font-family: poppins;
    font-size: 1.2rem;
    text-align: left;
}
.html-pic{
    height: 200px;
    position: relative;
    float: right;
    right: 100px;
}
.skill2{
    margin-top: 150px;
}
.js-img{
    float: left;
    height: 200px;
    position: relative;
    right: 70px;
}
.js-text{
    position: relative;
    right: 100px;
}
.js{
    margin-top: 150px;
}